{% extends 'layout.html' %}

{% block title %} Dashboard {% endblock%}

{% block body %}

<section class="section">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body p-3">
                    <h5 class="card-title">Recent Transitions</h5>

                    <!-- Default List group -->
                    <ul class="list-group">
                        {% for data in recenttrasition %}
                        <li class="list-group-item text-center p-2">{{data[0]}}</li>
                        {% endfor %}
                    </ul><!-- End Default List group -->

                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="card">
                <div class="card-body profile-card pt-2 d-flex flex-column align-items-center">
                    <h2 class="p-4" style="margin-top:20px">Balance : {{profile[0][5]}}</h2>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock%}