{% extends 'layout.html' %}

{% block title %} Settings {% endblock%}

{% block body %}

<datalist id="users">
    {% for data in users %}
    <option value="Id:{{data[0]}},Name:{{data[1]}}">Id:{{data[0]}},Name:{{data[1]}}</option>
    {% endfor %}
</datalist>

<section class="section">
    <div class="row">
        <div class="col-md-8">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Users</h5>
                    <!-- Table with stripped rows -->
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Number</th>
                                <th scope="col">role</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for data in users %}
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            <td>{{data[1]}}</td>
                            <td>{{data[2]}}</td>
                            <td>{{data[3]}}</td>
                            <td>{{data[4]}}</td>
                            <td>
                                <button class="btn btn-outline-primary" onclick="modaltoggle('{{data[0]}}')"><i
                                    class="bi bi-pencil-square"></i></button>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->
                </div>
            </div>
            <div>
                <div class="col-5 card ">
                    <div class="card-body">
                        <h5 class="card-title">Reset User Password</h5>
                        <form class="row" action="/settings?action=reset" method="POST">
                            <div class="col-md-12">
                                <label class="form-label"> Select User </label>
                                <input type="text" class="form-control" name="user" list="users" required>
                            </div>
                            <div class="col-12">
                                <label class="form-label">Password</label>
                                <input type="password" class="form-control" name="password" required>
                            </div>
                            <div class="col-12">
                                <label class="form-label">Comfirm Password</label>
                                <input type="password" class="form-control" name="cpassword" required>
                            </div>

                            <div class="text-center" style="margin-top: 22px !important;">
                                <button type="submit" class="btn btn-primary">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add User</h5>
                    <!-- Multi Columns Form -->
                    <form class="row" action="/settings?action=add" method="POST">
                        <div class="col-md-12">
                            <label class="form-label"> Name</label>
                            <input type="text" class="form-control" name="name" required>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control" name="email" id="checkemail" required>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Number</label>
                            <input type="tel" class="form-control" name="number" required>
                        </div>
                        <div class="col-md-12">
                            <fieldset class="row">
                                <legend class="col-form-label col-sm-2 pt-0"> Role</legend>
                                <br>
                                <div class="col-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="role" value="Admin" checked>
                                        <label class="form-check-label">Admin</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="role" value="User">
                                        <label class="form-check-label">User</label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" required>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Comfirm Password</label>
                            <input type="password" class="form-control" name="cpassword" required>
                        </div>

                        <div class="text-center" style="margin-top: 22px !important;">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <!-- <button type="reset" class="btn btn-secondary">Reset</button> -->
                        </div>
                    </form><!-- End Multi Columns Form -->
                </div>
            </div>

        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <div class="col-md-10">
            <div class="modal fade" id="updatemodal" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered  modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit User / Delete User</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- Vertical Form -->
                            <form class="row g-3" method="POST" id="modalform">
                                <div class="col-md-12">
                                    <label for="modalname" class="form-label"> Name</label>
                                    <input type="text" class="form-control" id="modalname" name="name" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="modalemail" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="modalemail" name="email" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="modalnumber" class="form-label">Number</label>
                                    <input type="tel" class="form-control" id="modalnumber" name="number" required>
                                </div>
                                <div class="col-12">
                                    <fieldset class="row">
                                        <legend class="col-form-label col-sm-2 pt-0">Role</legend>
                                        <br>
                                        <div class="col-10">
                                            <div class="form-check modalrole">
                                                <input class="form-check-input" type="radio" name="role" value="Admin" id="modalrole">
                                                <label class="form-check-label">Admin</label>
                                            </div>
                                            <div class="form-check modalrole">
                                                <input class="form-check-input" type="radio" name="role" value="User" >
                                                <label class="form-check-label">User</label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-warning" onclick="return customerdelete();">Delete</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <!-- <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                                </div>
                            </form><!-- Vertical Form -->
                        </div>

                    </div>
                </div>
            </div><!-- End Vertically centered Modal-->
        </div>
    </div>
    </div>
</section>
{% endblock%}
{% block script %}
<script>
    var id;
    function modaltoggle(id) {
        // console.log(id);
        this.id = id;
        var mdl = document.querySelector("#updatemodal");
        // form action id set from javascript 
        document.getElementById("modalform").action = "/settings?action=edit&id=" + id

        $.ajax({
            url: '/settings?view=ajax&id=' + id,
            success: function (data) {
                $("#updatemodal").modal("toggle");
                // console.log(data);
                document.getElementById("modalname").value = data[0][1];
                document.getElementById("modalemail").value = data[0][2];
                document.getElementById("modalnumber").value = data[0][3];
                if (data[0][4] == "Admin"){
                    $('.modalrole input[value="Admin"]').attr('checked',true);
                }else{
                    $('.modalrole input[value="User"]').attr('checked',true);
                }

            }
        });
    }
    function customerdelete() {
        if (confirm('Are you sure delete user ?')) {
            document.getElementById("modalform").action = "/settings?action=delete&id=" + id;
        } else {
            return false;
        }
    }
</script>
{% endblock %}